$black87 : rgba(0, 0, 0, 0.87);
$black60 : rgba(0, 0, 0, 0.6);
$text-grey: rgba(72, 72, 72, 0.8);
$dark_blue: #21317D;
$grey: #DCDCDC;
$dark_purple: #12193C;
$dark_grey: #ffffffb3;
$card_blue: #05132E;
$light_grey: #ffffffb3;
$sky_blue: #4A60AF;
$dark_orange: #EA7063 !important;
$orange:#F2707C !important;
$dark_blue:#21317D;
$white: #fff;
$black50: #808080;
$bright-grey: #929192;
$placeholder-color: rgba(0, 0, 0, 0.38);
// $border-grey: #DCDCDC;
$nav-color-anchor: #262a2f;
