@mixin primary-button {
    background: #21317D;
    box-shadow: 0px 8.85807px 14.1729px rgba(0, 0, 0, 0.1), 0px 3.54323px 5.31484px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    color: white;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    max-width: 295px;
    outline: none;
    border:none;
    padding-top: 16px;
    padding-bottom: 16px;
}
@mixin input {
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black87;
    padding: 8px 12px;
    // margin-left: 24px;
    margin-right: 24px;
    outline: none;
}

@mixin select {
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black87;
    padding: 8px 12px;
    outline: none;
}
@mixin input-date-of-birth {
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 4px;
    // margin-top: 5px;
    margin-bottom: 80px;
    // width: 25%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black87;
    // padding: 8px 12px;
    outline: none;
}


@mixin addcard-button {
    background: #F2707C;
    border: 1px solid #F2707C;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px 13px;
    font-size:14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
}

@mixin added-cart-button {
    background: #EA7063;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0 !important;
    height: 100%;
    display: flex;
    flex-direction: row;
    

    div{
        margin-left: 11x;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        line-height: 140%;
        padding: 5px 12px 5px 11px;
    }
    img{
        padding: 7px 6px;
    }
}

@mixin refresh {
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    background: $orange;
    border: none;
    outline: none;
    box-shadow: 0px 8.85807px 14.1729px rgba(0, 0, 0, 0.1), 0px 3.54323px 5.31484px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
}