.block-24{
    padding-left: 24px;
    padding-right: 24px;
}

.block-32{
    padding-left: 32px;
    padding-right: 32px;
}
.block-16{
    padding-left: 16px;
    padding-right: 16px;
}

.block-42 {
    padding-left: 16px;
    padding-right: 16px;
}
h1{
    font-size: 32px;
    line-height: 150%;
    font-weight: 500;
}
h2{
    font-size: 24px;
    line-height: 150%;
}
h3{
    font-size: 18px;
    line-height: 150%
}
h4{
    font-size: 16px;
    line-height: 150%
}
p{
    font-size: 14px;
    line-height: 150%;
}
h5{
    font-size: 20px;
    line-height: 150%;
}
h6 {
    font-size: 12px;
    line-height: 150%;
}
strong {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    
  }

